@{
    Layout = "_Layout";
}

<section>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <div class="media align-items-center">
                    <a href="#" class="mr-4">
                        <img alt="Image" src="assets/img/graphic-product-paydar-thumb.jpg"
                            class="avatar avatar-lg avatar-square" />
                    </a>
                    <div class="media-body">
                        <div class="mb-3">
                            <h1 class="h2 mb-2">Paydar Directory</h1>
                            <span>Useful for listing associated members of a group</span>
                        </div>
                        <div>
                            <ul class="list-inline text-small d-inline-block">
                                <li class="list-inline-item"><i class="icon-link"></i> <a
                                        href="#">http://paydar.wingman.co</a>
                                </li>
                                <li class="list-inline-item"><i class="icon-users"></i> 12</li>
                                <li class="list-inline-item"><i class="icon-message"></i> 6</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of col-->
            <div class="col-auto">
                <button class="btn btn-primary"><i class="icon-add-user mr-1"></i> Invite Member</button>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end of section-->
<section class="flush-with-above">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover align-items-center table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Location</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <img alt="Image" src="assets/img/avatar-male-1.jpg" class="avatar" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Daniel Cameron
                                            <span class="badge badge-secondary">Admin</span>
                                        </span>
                                        <span class="text-muted">Product Designer</span>
                                    </div>
                                </div>
                            </th>
                            <td>daniel.cameron@wingman.co</td>
                            <td>San Francisco, USA</td>
                            <td>
                                <div class="dropdown">
                                    <button
                                        class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                        type="button" id="dropdownMenuButton-1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm">
                                        <a class="dropdown-item" href="#">Contact</a>
                                        <a class="dropdown-item" href="#">Assign</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-divider">
                            <th></th>
                            <td></td>
                        </tr>

                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <img alt="Image" src="assets/img/avatar-female-1.jpg" class="avatar" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Caitlyn Halsy
                                            <span class="badge badge-secondary">Admin</span>
                                        </span>
                                        <span class="text-muted">Marketing Professional</span>
                                    </div>
                                </div>
                            </th>
                            <td>caitlyn.halsy@wingman.co</td>
                            <td>Melbourne, AU</td>
                            <td>
                                <div class="dropdown">
                                    <button
                                        class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                        type="button" id="dropdownMenuButton-2" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm">
                                        <a class="dropdown-item" href="#">Contact</a>
                                        <a class="dropdown-item" href="#">Assign</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-divider">
                            <th></th>
                            <td></td>
                        </tr>

                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <img alt="Image" src="assets/img/avatar-male-2.jpg" class="avatar" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Toby Marsh
                                            <span class="badge badge-secondary">Admin</span>
                                        </span>
                                        <span class="text-muted">Developer</span>
                                    </div>
                                </div>
                            </th>
                            <td>toby.marsh@wingman.co</td>
                            <td>Denver, USA</td>
                            <td>
                                <div class="dropdown">
                                    <button
                                        class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                        type="button" id="dropdownMenuButton-3" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm">
                                        <a class="dropdown-item" href="#">Contact</a>
                                        <a class="dropdown-item" href="#">Assign</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-divider">
                            <th></th>
                            <td></td>
                        </tr>

                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <img alt="Image" src="assets/img/avatar-female-2.jpg" class="avatar" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Lucille Freebody</span>
                                        <span class="text-muted">Graphic Designer</span>
                                    </div>
                                </div>
                            </th>
                            <td>lucille.freebody@wingman.co</td>
                            <td>Bathwick, UK</td>
                            <td>
                                <div class="dropdown">
                                    <button
                                        class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                        type="button" id="dropdownMenuButton-4" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm">
                                        <a class="dropdown-item" href="#">Contact</a>
                                        <a class="dropdown-item" href="#">Assign</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-divider">
                            <th></th>
                            <td></td>
                        </tr>

                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <img alt="Image" src="assets/img/avatar-male-3.jpg" class="avatar" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Brenton Harvey</span>
                                        <span class="text-muted">Front-End Developer</span>
                                    </div>
                                </div>
                            </th>
                            <td>brenton.harvey@wingman.co</td>
                            <td>Dublin, IR</td>
                            <td>
                                <div class="dropdown">
                                    <button
                                        class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                        type="button" id="dropdownMenuButton-5" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm">
                                        <a class="dropdown-item" href="#">Contact</a>
                                        <a class="dropdown-item" href="#">Assign</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-divider">
                            <th></th>
                            <td></td>
                        </tr>

                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <img alt="Image" src="assets/img/avatar-female-3.jpg" class="avatar" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Tabatha Firth</span>
                                        <span class="text-muted">Founder Clop</span>
                                    </div>
                                </div>
                            </th>
                            <td>tabatha.firth@wingman.co</td>
                            <td>Sydney, AU</td>
                            <td>
                                <div class="dropdown">
                                    <button
                                        class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                        type="button" id="dropdownMenuButton-6" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm">
                                        <a class="dropdown-item" href="#">Contact</a>
                                        <a class="dropdown-item" href="#">Assign</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-divider">
                            <th></th>
                            <td></td>
                        </tr>

                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <img alt="Image" src="assets/img/avatar-male-4.jpg" class="avatar" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Ramon Hernandez</span>
                                        <span class="text-muted">Motion Designer</span>
                                    </div>
                                </div>
                            </th>
                            <td>ramon.hernandez@wingman.co</td>
                            <td>Mexico City, ME</td>
                            <td>
                                <div class="dropdown">
                                    <button
                                        class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                        type="button" id="dropdownMenuButton-7" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm">
                                        <a class="dropdown-item" href="#">Contact</a>
                                        <a class="dropdown-item" href="#">Assign</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-divider">
                            <th></th>
                            <td></td>
                        </tr>

                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <img alt="Image" src="assets/img/avatar-female-4.jpg" class="avatar" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Roberta Kissinger</span>
                                        <span class="text-muted">Copywriter</span>
                                    </div>
                                </div>
                            </th>
                            <td>roberta.kissinger@wingman.co</td>
                            <td>Rotterdam, NL</td>
                            <td>
                                <div class="dropdown">
                                    <button
                                        class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                        type="button" id="dropdownMenuButton-8" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm">
                                        <a class="dropdown-item" href="#">Contact</a>
                                        <a class="dropdown-item" href="#">Assign</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-divider">
                            <th></th>
                            <td></td>
                        </tr>

                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <img alt="Image" src="assets/img/avatar-male-5.jpg" class="avatar" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Franc Bijon</span>
                                        <span class="text-muted">Illustrator</span>
                                    </div>
                                </div>
                            </th>
                            <td>franc.bijon@wingman.co</td>
                            <td>Paris, FR</td>
                            <td>
                                <div class="dropdown">
                                    <button
                                        class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                        type="button" id="dropdownMenuButton-9" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm">
                                        <a class="dropdown-item" href="#">Contact</a>
                                        <a class="dropdown-item" href="#">Assign</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-divider">
                            <th></th>
                            <td></td>
                        </tr>

                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <img alt="Image" src="assets/img/avatar-female-5.jpg" class="avatar" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Kate Worthington</span>
                                        <span class="text-muted">Marketing Lead</span>
                                    </div>
                                </div>
                            </th>
                            <td>kate.worthington@wingman.co</td>
                            <td>Los Angeles, USA</td>
                            <td>
                                <div class="dropdown">
                                    <button
                                        class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                        type="button" id="dropdownMenuButton-10" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm">
                                        <a class="dropdown-item" href="#">Contact</a>
                                        <a class="dropdown-item" href="#">Assign</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-divider">
                            <th></th>
                            <td></td>
                        </tr>

                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <img alt="Image" src="assets/img/avatar-male-6.jpg" class="avatar" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Kenny Smith</span>
                                        <span class="text-muted">Developer</span>
                                    </div>
                                </div>
                            </th>
                            <td>kenny.smith@wingman.co</td>
                            <td>Berlin, GER</td>
                            <td>
                                <div class="dropdown">
                                    <button
                                        class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                        type="button" id="dropdownMenuButton-11" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm">
                                        <a class="dropdown-item" href="#">Contact</a>
                                        <a class="dropdown-item" href="#">Assign</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-divider">
                            <th></th>
                            <td></td>
                        </tr>

                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <img alt="Image" src="assets/img/avatar-female-6.jpg" class="avatar" />
                                    <div class="media-body">
                                        <span class="h6 mb-0">Christina Hersinger</span>
                                        <span class="text-muted">Interface Designer</span>
                                    </div>
                                </div>
                            </th>
                            <td>christina.hersinger@wingman.co</td>
                            <td>Frankfurt, GER</td>
                            <td>
                                <div class="dropdown">
                                    <button
                                        class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                        type="button" id="dropdownMenuButton-12" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm">
                                        <a class="dropdown-item" href="#">Contact</a>
                                        <a class="dropdown-item" href="#">Assign</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-divider">
                            <th></th>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end of section-->