@model IEnumerable<ZumbaModels.Models.ApiResponse.BlogResponse>

@{
    Layout = "_Layout";
}

<section>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <div class="media align-items-center">
                    <div class="media-body">
                        <div class="mb-3">
                            <h1 class="h2 mb-2">My Blog Space</h1>
                            <span>Start creating your own blog and share it to everyone.</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of col-->
            <div class="col-auto">
                <a class="btn btn-primary" type="button" asp-asp-controller="Blogs" asp-action="CreateBlog">Create
                    Blog</a>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end of section-->
<section class="flush-with-above">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover align-items-center table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Categories</th>
                            <th scope="col">Published</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="bg-white">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        @item.Title
                                    </div>
                                </th>
                                <td>@item.BlogType</td>
                                <td>@item.DateCreated</td>
                                <td>
                                    <div class="dropdown">
                                        <button
                                            class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                            type="button" id="dropdownMenuButton-1" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm">
                                            <a class="dropdown-item" href="#">View</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-divider">
                                <th></th>
                                <td></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end of section-->