@model ZumbaModels.Models.ApplicationUser

@{
    Layout = "_Layout";
}

<div class="main-container">
    <section class="space-sm">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 mb-4 mb-md-0">
                    <div class="card card-profile-large text-center">
                        <div class="card-header">
                            <img alt="Image" src="~/assets/img/photo-beach.jpg" class="bg-image" />
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <img alt="Aaron Cunningham" src="~/assets/img/avatar-male-3.jpg"
class="avatar avatar-lg" />
                            </a>
                            <div class="my-3">
                                <div class="mb-2">
                                    <h5 class="mb-0">Aaron Cunningham</h5>
                                    <span class="text-muted">Front-End Product Engineer</span>
                                </div>
                                <span class="text-small text-muted"><i class="icon-location"></i> Melbourne, AU</span>
                            </div>
                            <div>
                                <button class="btn btn-outline-primary"><i class="icon-add-user"></i> Follow</button>
                                <button class="btn btn-outline-primary"><i class="icon-mail"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!--end of col-->

    </section>
</div>