<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] ZumbaApp</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet" />
        <link href="~/assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/assets/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>

        <div class="navbar-container">
                <div class="bg-dark navbar-dark" data-sticky="top">
                        <div class="container">
                                <nav class="navbar navbar-expand-lg">
                                        <a class="navbar-brand" asp-controller="Home" asp-action=>
                                                <img alt="Wingman" src="~/assets/img/logo-white.svg" />
                                        </a>
                                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                                <i class="icon-menu h4"></i>
                                        </button>
                                        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                                                <form class="form-inline col p-0 pl-md-2 pr-md-3">
                                                        <input class="form-control w-100" type="search"
                                                        placeholder="Search" aria-label="Search">
                                                </form>

                                                @if (Context.Request.Cookies["ZumbaReference"] != null)
                                                {
                                                        <ul class="navbar-nav">
                                                                <li class="nav-item dropdown">
                                                                        <a class="nav-link dropdown-toggle dropdown-toggle-no-arrow p-lg-0"
                                                                        href="#" id="dropdown01" data-toggle="dropdown"
                                                                        aria-haspopup="true" aria-expanded="fal se">
                                                                                <img alt="Image"
        src="~/assets/img/avatar-male-3.jpg"
        class="avatar avatar-xs" />
                                                                        </a>
                                                                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right"
                                                                        aria-labelledby="dropdown01">
                                                                                <a class="dropdown-item" asp-controller="Home"
        asp-action="Index">Dashboard</a>
                                                                                <a class="dropdown-item" asp-controller="User"
        asp-action="UserSetting">Profile</a>
                                                                                <div class="dropdown-divider"></div>
                                                                                <a class="dropdown-item" asp-controller="User"
        asp-action="Logout">Log out</a>
                                                                        </div>
                                                                </li>
                                                        </ul>
                                                }
                                                else
                                                {
                                                        <ul class="navbar-nav">
                                                                <li class="nav-item">
                                                                        <a asp-controller="User" asp-action="RegisterPage">Sign
                                                                                up</a>
                                                                        <span>&nbsp;or&nbsp;</span><a asp-controller="User"
        asp-action="Login">Sign in</a>
                                                                </li>
                                                        </ul>
                                                }

                                        </div>
                                        <!--end nav collapse-->
                                </nav>
                        </div>
                        <!--end of container-->
                </div>
        </div>

        @RenderBody()

        <footer class="footer-short">
                <div class="container">
                        <hr>
                        <nav class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                        <ul class="list-inline">
                                                <li class="list-inline-item">
                                                        <a href="#">
                                                                <img alt="Image" src="~/assets/img/logo-gray.svg" />
                                                        </a>
                                                </li>
                                        </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-auto text-sm-right">
                                        <ul class="list-inline">
                                                <li class="list-inline-item">
                                                        <a href="#"><i class="socicon-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                        <a href="#"><i class="socicon-facebook"></i></a>
                                                </li>
                                        </ul>
                                </div>
                                <!--end of col-->
                        </nav>
                        <!--end of row-->
                        <div class="row">
                                <div class="col">
                                        <small>&copy; 2020 Creativo Rare All Rights Reserved</small>
                                </div>
                                <!--end of col-->
                        </div>
                        <!--end of row-->
                </div>
                <!--end of container-->
        </footer>

        <!-- Required vendor scripts (Do not remove) -->
        <script type="text/javascript" src="~/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/assets/js/popper.min.js"></script>
        <script type="text/javascript" src="~/assets/js/bootstrap.js"></script>

        <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->
        <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
        <script type="text/javascript" src="~/assets/js/aos.js"></script>
        <!-- Flatpickr (calendar/date/time picker UI) -->
        <script type="text/javascript" src="~/assets/js/flatpickr.min.js"></script>
        <!-- Flickity (handles touch enabled carousels and sliders) -->
        <script type="text/javascript" src="~/assets/js/flickity.pkgd.min.js"></script>
        <!-- jarallax (parallax effect and video backgrounds) -->
        <script type="text/javascript" src="~/assets/js/jarallax.min.js"></script>
        <script type="text/javascript" src="~/assets/js/jarallax-video.min.js"></script>
        <script type="text/javascript" src="~/assets/js/jarallax-element.min.js"></script>
        <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
        <script type="text/javascript" src="~/assets/js/scrollMonitor.js"></script>
        <!-- jQuery smartWizard facilitates steppable wizard content -->
        <script type="text/javascript" src="~/assets/js/jquery.smartWizard.min.js"></script>
        <!-- Smooth scroll (animation to links in-page)-->
        <script type="text/javascript" src="~/assets/js/smooth-scroll.polyfills.min.js"></script>
        <!-- Prism (displays formatted code boxes) -->
        <script type="text/javascript" src="~/assets/js/prism.js"></script>
        <script type="text/javascript" src="~/assets/js/zoom.min.js"></script>

        <!-- Required theme scripts (Do not remove) -->
        <script type="text/javascript" src="~/assets/js/theme.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>

        @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>*@
        @RenderSection("Scripts", required: false)
</body>

</html>
