@{
    Layout = "_Layout";
}

<div class="navbar-container">
    <div class="position-absolute navbar-dark" data-sticky="top">
        <div class="container">
            <nav class="row navbar navbar-expand-lg align-items-center">
                <div class="col-12 col-lg-auto order-lg-2 d-flex justify-content-between">
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target=".navbar-toggle"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="icon-menu h4"></i>
                    </button>
                </div>
                <!--end of col-->
                <div class="col-12 col-lg order-lg-1">
                    <div class="collapse navbar-collapse navbar-toggle">
                        <ul class="navbar-nav">
                           
                        </ul>
                    </div>
                </div>
                <!--end of col-->
                <div class="col-12 col-lg order-lg-3">
                    <div class="collapse navbar-collapse navbar-toggle justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a asp-controller="User" asp-action="RegisterPage">Sign up</a>
                                <span>&nbsp;or&nbsp;</span><a asp-controller="User" asp-action="Login">Sign in</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of col-->
            </nav>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
</div>
<div class="main-container">
    <section class="height-80 bg-dark text-white jarallax"
             data-jarallax
             data-speed="0.2">
        <img alt="Image"
             src="~/assets/img/zamora/10-1.jpg"
             class="bg-image opacity-60 jarallax-img" />
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-7 text-center">
                    <div class="video-play-icon"
                         data-toggle="modal"
                         href="#"
                         data-target="#video-modal">
                        <i class="icon-controller-play"></i>
                    </div>
                    <h1 class="display-3">Ready, Set, Zumba.</h1>
                    <span class="lead">
                        A robust suite of styled components, powered by Bootstrap 4.

                        Take the design of your website or webapp up a notch.
                    </span>
                    <a href="#" class="btn btn-success btn-lg">Get started now</a>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="space-lg">
        <div class="container">
            <ul class="feature-list feature-list-xlg">
                <li class="row align-items-center justify-content-around">
                    <div class="col-12 col-md-6 order-md-2">
                        <img alt="Image"
                             class="img-fluid rounded"
                             src="~/assets/img/zamora/4-2.jpg" />
                    </div>
                    <!--end of col-->
                    <div class="col-12 col-md-6 col-lg-5 text-lg-center order-md-1">
                        <i class="icon-heart text-red display-3"></i>
                        <h3 class="h1">Boost your heart health</h3>
                        <p class="lead">
                            You not only get aerobic benefits (it really gets your heart rate up),

                            you also get anaerobic benefits the kind that help you maintain a good cardiovascular respiratory system.
                        </p>
                        <a href="#">Compare plans and features &rsaquo;</a>
                    </div>
                    <!--end of col-->
                </li>
                <!--end of row-->
                <li class="row align-items-center justify-content-around">
                    <div class="col-12 col-md-6 order-1">
                        <img alt="Image"
                             class="img-fluid rounded"
                             src="~/assets/img/zamora/5-2.jpg" />
                    </div>
                    <!--end of col-->
                    <div class="col-12 col-md-6 col-lg-5 text-lg-center order-2">
                        <i class="icon-direction text-teal display-3"></i>
                        <h3 class="h1">Imporves coordination</h3>
                        <p class="lead">
                            In Zumba, your arms and legs are generally moving in different directions so it requires a good deal of coordination.

                            It will also help to increase your flexibility. 
                        </p>
                        <a href="#">View the detailed overview &rsaquo;</a>
                    </div>
                    <!--end of col-->
                </li>
                <!--end of row-->
                <li class="row align-items-center justify-content-around">
                    <div class="col-12 col-md-6 order-md-2">
                        <img alt="Image"
                             class="img-fluid rounded"
                             src="~/assets/img/zamora/9-2.jpg" />
                    </div>
                    <!--end of col-->
                    <div class="col-12 col-md-6 col-lg-5 text-lg-center order-md-1">
                        <i class="icon-progress-full text-purple display-3"></i>
                        <h3 class="h1">Great for weight loss</h3>
                        <p class="lead">
                            Zumba is a powerful exercise with a 600 to 1,000-calorie burn in just an hour.

                            It also improves your metabolism and help to increase burn fats.
                        </p>
                        <a href="#">Tell me more &rsaquo;</a>
                    </div>
                    <!--end of col-->
                </li>
                <!--end of row-->
            </ul>
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section>
        <div class="container">
            <div class="row justify-content-center text-center section-intro">
                <div class="col-12 col-md-9 col-lg-8">
                    <span class="title-decorative"
                          data-aos="fade-up"
                          data-aos-delay="10">Simple Pricing</span>
                    <h2 class="display-4" data-aos="fade-up" data-aos-delay="100">
                        Let's not break the bank
                    </h2>
                    <span class="lead" data-aos="fade-up" data-aos-delay="200">
                        An opportunity to introduce the major benefits of your product
                        and set the scene for what's to come
                    </span>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->

            <div class="tab-content">
                <div class="tab-pane fade show active" id="pricing-monthly">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="card pricing card-lg">
                                <div class="card-body">
                                    <h5>Beginner</h5>
                                    <span class="display-3 price-collapse collapse show">$0</span>
                                    <span class="text-small">per user / month</span>
                                    <span class="h6">Includes:</span>
                                    <ul class="list-unstyled">
                                        <li>1 Active project</li>
                                        <li>2 Repositories</li>
                                        <li>2 Collaborators</li>
                                    </ul>
                                    <a asp-controller="User" asp-action="RegisterPage" class="btn btn-lg btn-outline-primary">Sign up now</a>
                                </div>
                            </div>
                            <!--end card-->
                        </div>
                        <!--end of col-->
                        <div class="col-md-6 col-lg-4">
                            <div class="card pricing card-lg">
                                <div class="card-body">
                                    <h5>Enthusiast</h5>
                                    <span class="display-3">$12</span>
                                    <span class="text-small">per user / month</span>
                                    <span class="h6">Includes:</span>
                                    <ul class="list-unstyled">
                                        <li>1 Active project</li>
                                        <li>2 Repositories</li>
                                        <li>2 Collaborators</li>
                                    </ul>
                                    <a asp-controller="User" asp-action="RegisterPage" class="btn btn-lg btn-success">Sign up now</a>
                                </div>
                            </div>
                            <!--end card-->
                        </div>
                        <!--end of col-->
                        <div class="col-md-6 col-lg-4">
                            <div class="card pricing card-lg">
                                <div class="card-body">
                                    <h5>Party</h5>
                                    <span class="display-3">$29</span>
                                    <span class="text-small">per user / month</span>
                                    <span class="h6">Includes:</span>
                                    <ul class="list-unstyled">
                                        <li>Unlimited active projects</li>
                                        <li>Unlimited repositories</li>
                                        <li>Unlimited collaborators</li>
                                    </ul>
                                    <a asp-controller="User" asp-action="RegisterPage" class="btn btn-lg btn-outline-primary">Sign up now</a>
                                </div>
                            </div>
                            <!--end card-->
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
            </div>
            <!--end of tab content-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <footer class="bg-gray text-light footer-long">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <img alt="Image" src="assets/img/logo-white.svg" class="mb-4" />
                    <p class="text-muted">
                        &copy; 2020 Creativo Rare
                        <br />This project is for <br />clients view only!
                    </p>
                </div>
                <!--end of col-->
                <div class="col-12 col-md-9">
                    <span class="h5">A robust suite of styled components for Bootstrap 4</span>
                    <div class="row no-gutters">
                        <div class="col-6 col-lg-3">
                            <h6>Navigate</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="index.html">Overview</a>
                                </li>
                                <li>
                                    <a href="pages-landing.html">Landing Pages</a>
                                </li>
                                <li>
                                    <a href="pages-app.html">App Pages</a>
                                </li>
                                <li>
                                    <a href="pages-inner.html">Inner Pages</a>
                                </li>
                            </ul>
                        </div>
                        <!--end of col-->
                        <div class="col-6 col-lg-3">
                            <h6>Platform</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Mac OS &amp; iOS</a>
                                </li>
                                <li>
                                    <a href="#">Android &amp; Chrome OS</a>
                                </li>
                                <li>
                                    <a href="#">Windows</a>
                                </li>
                                <li>
                                    <a href="#">Linux</a>
                                </li>
                            </ul>
                        </div>
                        <!--end of col-->
                        <div class="col-6 col-lg-3">
                            <h6>Community</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Forum</a>
                                </li>
                                <li>
                                    <a href="#">Knowledgebase</a>
                                </li>
                                <li>
                                    <a href="#">Hire an expert</a>
                                </li>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <!--end of col-->
                        <div class="col-6 col-lg-3">
                            <h6>Company</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">About company</a>
                                </li>
                                <li>
                                    <a href="#">History</a>
                                </li>
                                <li>
                                    <a href="#">Team</a>
                                </li>
                                <li>
                                    <a href="#">Investment</a>
                                </li>
                            </ul>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </footer>
</div>

<div class="modal fade" id="video-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-center-viewport">
        <div class="modal-content">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        data-src="https://www.youtube.com/embed/watch?v=KPdN9rL_alM"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>